.mainPage {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  margin-top: 10px;
  width: 100%;
}

.filter {
  display: flex;
  position: sticky;
  top: 10px;
  z-index: 1;
  width: 220px;
  height: 100%;
  margin-top: 10px;

}

