<div class="data">
  <mat-card class="example-toys" appearance="outlined">
    <div class="image">
      <img mat-card-image
           src="{{toys.image}}"
           alt="Photo of Apple">
    </div>
    <div class="content">
      <div class="custom-content">
        <p class="title">{{ toys.name }}</p>
        <p class="subtitle">{{ toys.price | currency }}</p>
      </div>
      <div class="custom-action">
        <button (click)="addToCart(toys)" mat-button>Add</button>
      </div>
    </div>
  </mat-card>
</div>

