@for (order of orders$ | async; track order) {
  <div>
    <div class="order">
      <h1>Order ID : {{ order.id }} </h1>
      <h2>Date : {{ order.createdAt | date }} </h2>
      <h2> Status : shipped</h2>
      <div class="address">
        <div>
          <div>Country : {{ order.country }}</div>
          <div>City : {{ order.city }}</div>
          <div>Address : {{ order.address }}</div>
          <div> Name : {{ order.firstName + ' ' + order.lastName }}</div>
          <div>Zip Code : {{ order.zipCode }}</div>
        </div>
        <div *ngFor="let item of order.items">
          {{ item.quantity }}(pc) : {{ item.name }}  × {{ (item.price * item.quantity) | currency }}
        </div>
      </div>
    </div>
  </div>
}


