<div class="wraper">
  <div class="card">
    <img
      src="{{chineseProduct.image}}"
      alt="Photo of Apple">
    <div class="content">
      <p class="product-name">
        {{ chineseProduct.name }}
      </p>
      <p>
        {{ chineseProduct.price | currency }}
      </p>
    </div>
    <div class="actions">
      <button (click)="addToCart(chineseProduct)" mat-flat-button>Add</button>
      <!--      <button (click)="redirectTo(product.id)" mat-button>Info</button>-->
      <!--      <button (click)="openModal()" mat-button>Quick View</button>-->
    </div>
  </div>
</div>
