<div class="data">
  <mat-card class="example-accessories" appearance="outlined">
    <div class="image">
      <img mat-card-image
           src="{{accessories.image}}"
           alt="Photo of Apple">
    </div>
    <div class="content">
      <div class="custom-content">
        <p class="title">{{ accessories.name }}</p>
        <p class="subtitle">{{ accessories.price | currency }}</p>
      </div>
      <div class="custom-action">
        <button (click)="addToCart(accessories)" mat-button>Add</button>
        <button (click)="openModal(accessories.id)" mat-button>Quick View</button>
      </div>
    </div>
  </mat-card>
</div>



