<div class="data">
  <mat-card class="example-product" appearance="outlined">
    <div class="image">
      <img mat-card-image
           src="{{product.image}}"
           alt="Photo of Apple">
    </div>
    <div class="content">
      <div class="custom-content">
        <p class="title">{{ product.name }}</p>
        <p class="subtitle">{{ product.price | currency }}</p>
      </div>
      <div class="custom-action">
        <button (click)="addToCart(product)" mat-button>Add</button>
        <button (click)="redirectTo(product.id)" mat-button>Info</button>
        <button (click)="openModal(product.id)" mat-button>Quick View</button>
      </div>
    </div>
  </mat-card>
</div>
