:host {
  display: block;
  transition: scale 0.3s linear;

}

.data {
  height: 100%;
  width: 100%;
}

.example-product {
  width: 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 4px black solid;
}


.custom-content {
  padding: 8px;
  display: flex;
  flex-direction: column;
  color: white;
}

.title {
  padding: 4px;
  display: flex;
  justify-content: center;
  font-size: 18px;
}


img[mat-card-image] {
  padding: 6px;
  object-fit: contain;
  height: 200px;
}

.subtitle {
  color: white;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #333;
}

