:host {
  display: block;
  transition: scale 0.3s linear;

}

.data {
  height: 100%;
  min-height: 300px;
  width: 100%;
  min-width: 200px;
}

.example-product {
  width: 240px;
  height: 100%; /* Будет работать при использовании min-height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  border: 4px black solid;
}

.custom-header {
  background-color: #333; /* Тёмно-серый */
  color: white;           /* Белый текст, чтобы было видно */
  border-radius: 6px 6px 0 0; /* Радиус сверху, если хочешь скруглённый угол */
}
.custom-content {
  padding: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #333; /* Тёмно-серый */
  color: white; /* Белый текст, чтобы было видно */
  flex-grow: 1;
  /*border-radius: 6px 6px 0 0; !* Радиус сверху, если хочешь скруглённый угол *!*/
}
.title {
  padding: 4px;
  display: flex;
  justify-content: center;
  font-size: 18px;
}


.custom-action {
  background-color: #333; /* Тёмно-серый */
  color: white;           /* Белый текст, чтобы было видно */
  border-radius: 0 0 6px 6px;
}

img[mat-card-image] {
  padding: 6px;
  object-fit: cover;
  height: 200px;
}
.subtitle {
  padding: 4px;
  display: flex;
  color: white;
}

