<div class="data">
  <mat-card class="example-card" appearance="outlined">
    <div class="image" [class.out-of-stock]="card.qty === 0">
      <img mat-card-image
           src="{{card.image}}"
           alt="Photo of Apple">

      <div class="overlay" *ngIf="card.qty === 0">OUT OF STOCK</div>
    </div>
    <div class="content">
      <div class="custom-content">
        <p class="title">{{ card.name }}</p>
        <p class="subtitle">{{ card.price | currency }}</p>
      </div>
      <div class="custom-action">
        <button (click)="addToCart(card)" mat-button>Add</button>
      </div>
    </div>
  </mat-card>
</div>

