<div class="page-cart">
  <div class="total">
    Total Quantity : {{ total$ | async }}
    |
    Total Price : {{ totalPrice$ | async | currency }}
  </div>
  <div class="clear-button">
    <button (click)="removeAllFromCart()" mat-button>Clear</button>
  </div>

  <div class="cart">
    @for (cart of cart$ | async; track cart.id; let first = $first) {
      @if (!first) {
        <hr class="divider"/>
      }
      <div class="cart-item">
        <app-cart-data [item]="cart"></app-cart-data>
        <div class="action">
          <p class="desck" (click)="redirectTo(cart.product.id)">{{ cart.product.name }}</p>
          <div class="action-buttons">
            <button (click)="addToCart(cart.product)" mat-flat-button>+</button>
            <p>{{ cart.amount }}</p>
            <button (click)="minusFromCart(cart.product)" mat-flat-button>-</button>
          </div>
        </div>
      </div>
    }
  </div>
  <div class="order-button">
    <button [disabled]="(cart$ | async)?.length === 0" class="button" mat-flat-button (click)="redirectToCheckout()">
      Checkout
    </button>
  </div>
</div>
