

.router {
  /*display: flex;*/
  /*justify-content: center;*/
  padding: 3px;
}

.free {
  display: flex;
  justify-content: center;
  border-bottom: black solid 2px;
  }

.head {
  background: linear-gradient(#ff6a14 , wheat) ;
}

.title {
  display: flex;
  justify-content: center;      /* Центрирует содержимое */
  align-items: center;          /* Выравнивание по вертикали */
  /*background: linear-gradient(#ff6a14 , wheat) ;*/
  padding: 10px 20px;
  position: relative;
}

.center-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.cart {
  margin-left: auto;            /* Отправляет cart в край справа */
  display: flex;
  gap: 10px;

}

.my-button {
  color: white;
  /*background-color: black;*/
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;

}

.drower {
  background: wheat;
}

.cart-content {
  border-radius: 0;
  width: 450px;
  padding: 6px;
}

.example-container {
  height: 100%;
  width: 100%;
}



