<mat-drawer-container class="example-container">
  <mat-drawer #drawer position="end" class="cart-content" style="border-radius: 0">
    <app-cart class="cart-item" (redirectToProduct)="redirectTo($event)"></app-cart>
  </mat-drawer>
  <mat-drawer-content class="drower">
    <div class="head">
      <div class="title">
        <div class="center-title">
          <button mat-button class="my-button" [routerLink]="['/main-page']" routerLinkActive="active"
                  style="color: #e85d41">
            Combusken-TCG
          </button>
        </div>
        <div class="cart">
          <button *ngIf="isLoggedIn$ | async" mat-button style="color: #e85d41" (click)="logout()">Log out
          </button>
          <button *ngIf="!(isLoggedIn$ | async)" mat-button style="color: #e85d41" [routerLink]="['/authorization']"
                  routerLinkActive="active">Log in
          </button>
          <button *ngIf="isLoggedIn$ | async" mat-button style="color: #e85d41" [routerLink]="['/user']"
                  routerLinkActive="active">Profile
          </button>
          <button style="color: #e85d41" mat-button="elevated" (click)="drawer.toggle()">Cart</button>
        </div>
      </div>
      <!--      <div class="free">-->
      <!--        <p>Free Shipping on all orders over 75$</p>-->
      <!--      </div>-->
    </div>

    <div class="navigate">
      <app-navigate></app-navigate>
    </div>
    <div class="router">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
