
<!--<div class="cart">-->
<!--  <button class="cart-button" mat-button [routerLink]="['/cart']" routerLinkActive="active">Cart</button>-->
<!--  <button mat-button [routerLink]="['/authorization']" routerLinkActive="active">Log in</button>-->
<!--</div>-->
<div class="product-list" >
  <div>
  <button style="color: black"  mat-button  [routerLink]="['/products-list']" routerLinkActive="active">
    Sealed Product  </button>
  </div>
  <div>
  <button style="color: black" mat-button  [routerLink]="['/cards-list']" routerLinkActive="active">
    Single Cards    </button>
  </div>
  <div>
  <button style="color: black" mat-button [routerLink]="['/accessories']"  routerLinkActive="activ">
    Accessories   </button>
  </div>
  <div>
  <button style="color: black" mat-button [routerLink]="['/toys']" routerLinkActive="active">
    Toys    </button>
  </div>
</div>



