<div class="product-list">
  <div>
    <button style="color: #e85d41" mat-button [routerLink]="['/products-list']" routerLinkActive="active">
      Sealed Product
    </button>
  </div>
  <div>
    <button style="color: #e85d41" mat-button [routerLink]="['/cards-list']" routerLinkActive="active">
      Single Cards
    </button>
  </div>
  <div>
    <button style="color: #e85d41" mat-button [routerLink]="['/accessories']" routerLinkActive="activ">
      Accessories
    </button>
  </div>
  <div>
    <button style="color: #e85d41" mat-button [routerLink]="['/toys']" routerLinkActive="active">
      Toys
    </button>
  </div>
</div>

<div class="language-sets">
  <button style="color: #e85d41" mat-button [routerLink]="['/chinese-main-page']" routerLinkActive="active">
    Chinese Products
  </button>
  <!--  <button style="color: black" mat-button [routerLink]="['/products-list']" routerLinkActive="active">-->
  <!--    English Products-->
  <!--  </button>-->
</div>
