
.product-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  border-bottom: white solid 2px;
}

.language-sets {
  display: flex;
  justify-content: center;
  border-bottom: white solid 2px;

}
