*, ::after, ::before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: wheat;
  color: black;
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue",
  sans-serif;
}

