<div class="modalka">
  <ng-container *ngIf="productsSignal() as product; else loading">

    <h2 mat-dialog-title style="color: #e85d41">{{ product.name }}</h2>

    <mat-dialog-content class="mat-typography">
      <div class="img">
        <img
          src="{{product.image}}"
          alt="Photo of Apple">
      </div>
      <div class="page">
        <p class="price">{{ product.price * counter() | currency }}</p>
        <p class="description">{{ product.description }}</p>
      </div>
    </mat-dialog-content>


    <mat-dialog-actions>
      <div class="buttons">
        <div class="qty">
          <button (click)="minusCounter()" mat-flat-button>-</button>
          <p style="color: #e85d41">Quantity:{{ counter() }}</p>
          <button (click)="plusCounter()" mat-flat-button>+</button>
        </div>
        <div class="add-button">
          <button (click)="addToCart(product, counter())" mat-flat-button>Add to Basket</button>
        </div>
      </div>
    </mat-dialog-actions>
  </ng-container>

  <ng-template #loading>
    <mat-dialog-content>
      <p>Загрузка данных продукта...</p>
    </mat-dialog-content>
  </ng-template>
</div>

<button class="close" mat-button mat-dialog-close style="color: royalblue">x</button>
