<div class="modalka">
  <ng-container *ngIf="productsSignal() as product; else loading">

    <h2 mat-dialog-title style="color: white">{{ product.name }}</h2>

    <mat-dialog-content class="mat-typography">
      <div class="img">
        <img
          src="{{product.image}}"
          alt="Photo of Apple">
      </div>
      <div class="page">
        <p>{{ product.price | currency }}</p>
      </div>
    </mat-dialog-content>


    <mat-dialog-actions>
      <div class="buttons">
        <button mat-button>Add to Basket</button>
      </div>
    </mat-dialog-actions>
  </ng-container>

  <ng-template #loading>
    <mat-dialog-content>
      <p>Загрузка данных продукта...</p>
    </mat-dialog-content>
  </ng-template>
</div>

<button class="close" mat-button mat-dialog-close>x</button>
