
.example-product {
  width: 400px;
  display: flex;
}

.image {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  button {
    color: tomato;
    background-color: #333;
  }
}

.card {
  display: flex;
  gap: 20px;
  padding: 16px;
}


img {
  width: 400px;
}

.description {
  display: flex;
  white-space: pre-line;
  color: white;
}

